<h4>Mail if from <%=@fromContact || "Partner Data"%></h4>


<br>

<hr>

<%=@data[:fname] %>
<br>
<%=@data[:lname] %>
<br>
<%=@data[:frequency] %>
<br>
<b>From</b> : <%=@data[:email] %>
<br>
<%=@data[:itemCount] %>
<br>
<%=@data[:meterialFormate] %>
<br>
